.needhelp {
  background-image: linear-gradient(to right, rgba(97, 124, 157, 0.4) 33%, rgba(255, 255, 255, 0) 0%);
  background-position: bottom;
  background-size: 19px 1.3px;
  background-repeat: repeat-x;
}
